// header starts=============================================

@media (max-width: 1250px) {
  header {
    nav {
      menu {
        .megamenu_dropdown {
          width: 900px;
          margin-left: -430px;
        }
      }
    }
    img {
      margin-top: -13%;
    }
  }
}
@media (max-width: 1170px) {
  header {
    .banner {
      margin-top: -45px;
      .text {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 0.9rem;
        }

        #search {
          width: 140px;
          border-width: 1px;
        }
        button {
          width: 120px;
          height: 35px;
        }
      }
      .links {
        width: 40%;
        margin-right: 7%;

        .box {
          padding: 8px 15px;

          h3 {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  header {
    nav {
      padding: 0 8%;
    }
  }
}

@media (max-width: 1000px) {
  header {
    #hamburger {
      .svgburg {
        display: block;
      }
    }
    #hamburger {
      .class_3 {
        top: 1rem;
      }
      .class_4 {
        border-top: 65px solid $green;
      }
    }
    nav {
      margin-top: 3rem;
      border: none;

      .logo {
        margin-top: 35px;
      }
      // --------------------------------------
      menu {
        display: none;
      }

      #mymenu {
        #mycont {
          background-color: $grey;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          justify-content: center;
          padding: 1rem;
          z-index: -1;

          h3 {
            padding: 0 1rem;
          }
        }

        .cat {
          display: none;
        }
      }

      .class_2 {
        #mycont {
          h3 {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  html {
    .btn {
      width: 140px;
      height: 35px;
      font-size: 15px;
    }
  }

  header {
    .banner {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  header {
    img {
      margin-top: -20%;
    }
  }
  #myModal,
  #myModal_two {
    // modal_inner--------
    .modal_inner {
      width: 75%;
      margin: 50px auto;

      .btn {
        width: 150px;
      }
    }
  }
}

// header ends========================================================

// intro_layer starts----------------------------------
@media (max-width: 768px) {
  #intro_layer {
    display: block;
    width: 100%;
    background-color: $grey;
    color: $white;

    .text {
      display: block;
      width: 90%;
      text-align: center;
      margin: 0 auto;
      padding: 2rem 0;
      h1 {
        font-size: 1.5rem;
      }
      p {
        padding: 0;
        font-size: 0.8rem;
      }
      #search {
        width: 200px;
      }
    }
  }
}
// ------------------
@media (max-width: 400px) {
  #intro_layer {
    .text {
      h1 {
        font-size: 1rem;
      }
      p {
        padding: 0.5rem;
        font-size: 0.6rem;
      }
    }
  }
}

// intro_layer ends-------------------------
// green section starts=====================================================

@media (max-width: 1000px) {
  .green_section {
    padding: 3%;

    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .green_section {
    display: none;
  }
}
// green section ends===========================================================

// courses section starts=======================================================

@media (max-width: 1050px) {
  .courses {
    margin-top: 3rem;
    padding-top: 0;
    .images_wrapper {
      width: 740px;

      .flip-card {
        width: 48%;
        // height: 430px;
        .flip-card-inner {
          .flip-card-front {
            .mybtn {
              margin-top: 3rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .courses {
    .lists-box {
      width: 500px;
    }
    .images_wrapper {
      width: 85%;
      justify-content: center;
      .flip-card {
        width: 440px;
        // height: 460px;
        .flip-card-inner {
          .flip-card-front {
            .mybtn {
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 530px) {
  .courses {
    h1 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 1;
    }
    .lists-box {
      width: 85%;
      li {
        padding: 0;
        a {
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .courses {
    .images_wrapper {
      .flip-card {
        height: 370px;
      }
    }
  }
}

// courses section ends==============================================================

// action start ===================================================================

@media (max-width: 768px) {
  .action {
    text-align: center;
    h1 {
      font-size: 2.8rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      padding: 1rem 0;
    }
  }
}
// action ends ====================================================================

// categories  section start ======================================================

@media (max-width: 1200px) {
  .categories {
    text-align: center;
    width: 95%;
  }
}

@media (max-width: 1000px) {
  .categories {
    width: 85%;

    .categories_box {
      width: 47%;
    }
  }
}

@media (max-width: 768px) {
  .categories {
    .categories_box {
      width: 85%;
      margin: 0 auto;
    }
  }
}
// categories  section ends  =======================================================

@media (max-width: 1000px) {
  .slider {
    .owl {
      width: 80%;
    }
  }
}

@media (max-width: 768px) {
  .slider {
    .owl {
      width: 90%;
      .owl_text {
        h4 {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .slider {
    .owl {
      .owl_img {
        img {
          width: 100%;
        }
      }
      .owl_text {
        h4 {
          font-size: 0.9rem;
        }
      }
    }
  }
}
//  owl-carousel ends ==========================================================

// frame_panel starts =========================================================

@media (max-width: 1085px) {
  .frame_panel {
    .frame_panel_inner {
      .video_btn {
        transition: all 0.5s ease;
        position: absolute;
        left: 50px;
      }
    }

    .frame_panel_right {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .frame_panel {
    background: none;
    background-color: $maincolor;
    position: relative;
    padding: 3rem 3rem 5rem;
    padding-bottom: 7rem;

    .frame_panel_inner {
      .video_img {
        display: block;
        width: 100%;
        height: 80%;
      }

      .video_btn {
        transition: all 0.5s ease;
        position: absolute;
        left: 45%;
        top: 20%;
        width: 50px;
      }
    }

    .frame_panel_right {
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: 30%;
      padding: 4rem 6rem;
      width: 100%;
      h2 {
        font-size: 1rem;
      }
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 0.9rem;
        padding: 1rem 0;
      }
    }
  }
}

@media (max-width: 550px) {
  .frame_panel {
    padding-bottom: 60%;

    .frame_panel_inner {
      .video_btn {
        top: 40%;
      }
    }

    .frame_panel_right {
      padding: 1rem 2rem;
      top: 55%;
    }
  }
}

@media (max-width: 360px) {
  .frame_panel {
    padding-bottom: 75%;

    .frame_panel_inner {
      .video_btn {
        top: 40%;
      }
    }

    .frame_panel_right {
      top: 45%;
    }
  }
}

// frame_panel ends  ===============================================================

// partners_section starts ==============================================================

@media (max-width: 768px) {
  .partners_section {
    .icons {
      width: 90%;
      flex-wrap: wrap;

      a {
        img {
          width: 100%;
          margin: 1.5rem 0;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .partners_section {
    .icons {
      width: 80%;
      justify-content: center;
    }
  }
}
// partners_section ends   =========================================================

// footer start ===================================================================

@media (max-width: 1250px) {
  footer {
    .footer_inner {
      width: 1000px;
    }
  }
}

@media (max-width: 1000px) {
  footer {
    .footer_inner {
      width: 750px;
      div {
        width: 48%;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .footer_inner {
      width: 90%;
      justify-content: center;
      text-align: center;
      div {
        width: 85%;
      }
    }
  }
}

// footer ends ===================================================================

// copyright------------------------

@media (max-width: 768px) {
  .copywrite {
    padding: 1rem 0;
    h4 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 460px) {
  html {
    font-size: 13px;
  }
}
